@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* VARIABLES */

:root {
  --color-principal: #ffffff;
  --color-secondary: #0d2470;
  --color-secondary-light: #183aac;

  /* --color-background: #f2f7f9; */
  --color-background: #181818;
  --color-card-background: #202020a0;
  --color-transparent: transparent;

  --color-background-certificates: #f5f5f5;

  --color-icon: #b5b6b7;
  --color-title: #202020;
  --color-subtitle: #808080;
  --color-text: #505050;
}

/* ESTILOS GENERALES */

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

/* IMAGEN DE FONDO */
/* body {
  background-image: url('../img/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60px -120px;
} */

/* ESTRUCTURA PRINCIPAL */

.layout {
  position: relative;
  min-width: 1290px;
  width: 75%;
  height: 80vh;
  min-height: 80vh;
  margin: 10vh auto;

  display: grid;
  grid-template-areas: 'aside content';
  grid-template-columns: 30% 70%;

  /* Sombra detras del layout */
  border-radius: 4rem;
  box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

/* BARRA LATERAL AZUL */
.layout__aside {
  grid-area: aside;
  border-radius: 4rem 0 0 4rem;
  overflow: auto;
  overflow-x: hidden;
}

.aside__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 100%;
  min-width: 30rem;

  background-color: var(--color-secondary);
  color: var(--color-principal);
}

.user-info__container-image {
  position: relative;
  display: inline-block;
  width: 18rem;
  margin-top: 7rem;
  z-index: 1;
}

.user-info__container-image::after {
  content: '';
  position: absolute;
  top: 5%;
  left: 9%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 0.6rem 0.6rem;
  border-radius: 30rem;
  opacity: 0.4;
}

.user-info__image {
  width: 100%;
  background-color: var(--color-principal);
  border: 3px solid var(--color-principal);
  border-radius: 20rem;
}

.user-info__name {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--color-principal);
  margin-top: 2.6rem;
}

.user-info__job {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-principal);
}

.user-info__links {
  margin-bottom: 3.6rem;
}

.links__social {
  margin-top: 2rem;
  text-align: center;

  display: flex;
  flex-direction: row;
}

.social__option {
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  opacity: 0.9;
  border-radius: 3rem;
  transition: all 300ms ease-in-out;
}

.social__option:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-info__buttons {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.user-info__btn {
  padding: 1.3rem 3rem 1.3rem 3rem;
  border: 2px solid var(--color-principal);
  border-radius: 3.2rem;
  color: var(--color-principal);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
  font-weight: bold;
}

.user-info__btn:hover {
  background-color: var(--color-principal);
  color: var(--color-secondary);
  transition: all 300ms ease-in-out;
  font-weight: bolder;
}

.user-info__footer {
  position: absolute;
  bottom: 2rem;
  font-size: 1.2rem;
}

/* CONTENEDOR PRINCIPAL */
.layout__content {
  grid-area: content;
  height: 100%;
  min-height: 100%;
  background-color: var(--color-secondary);
  border-radius: 0 10rem 10rem 0;
  /* z-index: -2; */
}

.content__page h1,
.content__page h2,
.content__page h3,
.content__page h4,
.content__page h5,
.content__page h6 {
  font-family: 'Metamorphous', serif;
}

.content__page {
  min-height: 100%;
  background-color: var(--color-principal);
  border-radius: 3.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__name-container {
  display: flex;
  align-items: end;
}

.page__name-capital {
  width: 7rem;
}

.page__name {
  font-size: 4.2rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.page__job {
  margin-top: 1rem;
  font-size: 2.1rem;
  font-weight: 400;
  color: var(--color-subtitle);
}

/* MENU NAVEGACION LATERAL */
.layout__menu {
  display: block;
  position: absolute;
  top: 0;
  right: -105px;
  min-width: 11rem;
  background-color: var(--color-transparent);
  z-index: 1;
}

.menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-height: 32rem;
  padding: 3rem 0;
  margin-left: 2.5rem;
  background-color: var(--color-principal);
  box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 6rem;
}

.menu__option {
  display: block;
  width: 100%;
  text-align: center;
}

.menu__option:hover .menu__icon,
.menu__link--active .menu__icon {
  color: var(--color-secondary);
}

.menu__icon {
  color: var(--color-icon);
  font-size: 2.8rem;
  transition: all 300ms ease-in-out;
}

.menu__overlay {
  position: absolute;
  right: 0;
  margin-top: -3rem;
  opacity: 0;
  padding: 0.5rem 1rem;
  display: block;
  color: var(--color-principal);
  background-color: var(--color-secondary);
  white-space: nowrap;
  transition: all 300ms ease-in-out;
  border-radius: 1.5rem 0 0 1.5rem;
  z-index: -1;
}

.menu__option:hover .menu__overlay {
  opacity: 0.8;
  right: 100%;
}

/* ESTILOS GENERALES (SOBRE MÍ, CURRICULUM, ETC.) */
.content__about,
.content__resume,
.content__portfolio {
  display: block;
  height: 100%;
  min-height: 100%;
  padding: 6rem;
  padding-right: 3rem;
  overflow: auto;
}

.about__header,
.resume__header {
  margin-bottom: 2.5rem;
}

.about__title,
.resume__title,
.portfolio__title {
  font-size: 3.2rem;
  position: relative;
}

.title__color,
.subtitle__color {
  color: var(--color-secondary-light);
}

/* INFORMACIÓN PERSONAL */
.about__personal-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 3rem;
  gap: 3rem;
}

.personal-info__bio {
  flex-basis: 56%;
}

.personal-info__description {
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: justify;
}

.personal-info__data {
  flex-basis: 44%;
  padding: 0 1.5rem;
}

.personal-info__option {
  margin-bottom: 1rem;
}

.personal-info__title {
  margin-right: 0.5rem;
  color: var(--color-secondary-light);
  font-weight: 600;
}

/* SERVICIOS GENERALES COMPARTIDOS*/
.about__services {
  width: 100%;
  margin-bottom: 3rem;
}

.services__header,
.resume__subheader {
  display: inline-block;
  padding-right: 1.2rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.services__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__service {
  flex-basis: calc(50% - 3rem);
  margin-right: 3rem;
  margin-bottom: 2.5rem;
  padding: 1rem;
}

.service__real-icon {
  color: var(--color-secondary-light);
  font-size: 3.8rem;
}

.service__title,
.resume__subtitle {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.service__description {
  font-size: 1.5rem;
  text-align: justify;
}

/* CURRICULUM */

.resume__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.resume__left {
  flex-basis: 58%;
  margin-right: 1.5rem;
}

.resume__timelines {
  margin-bottom: 5rem;
}

.timelines__timeline {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
}

.timeline__header {
  flex-basis: 30%;
  text-align: right;
  padding-right: 2.5rem;
}

.timeline__year {
  margin: 0.3rem 0;
  line-height: 1.9rem;
  font-size: 1.4rem;
}

.timeline__company {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-subtitle);
}

.timeline__divider {
  position: absolute;
  top: 0;
  left: 30%;
  bottom: -18%;
  width: 1px;
  background-color: var(--color-scrollbar);
}

.timeline__divider::after {
  content: '';
  position: absolute;
  margin-top: 0.78rem;
  margin-left: -0.45rem;
  background-color: var(--color-principal);
  border: 5px outset var(--color-secondary-light);
  transform: rotate(45deg);
  opacity: 1;
}

.timeline__description {
  flex-basis: 70%;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
}

.timeline__title {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}

.timeline__text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

/* CURRICULUM DERECHA */

.resume__right {
  flex-basis: 41%;
  padding: 0 1.5rem;
}

.resume__skills {
  width: 100%;
  margin-bottom: 3rem;
}

.skills__title {
  display: flex;
  justify-content: space-between;
}

.skills__text {
  font-size: 1.3rem;
  line-height: 1.4rem;
  margin-bottom: 0.4rem;
}

.skills__number {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 0.4rem;
  color: var(--color-subtitle);
}

.skills__progressbar {
  height: 1rem;
  border: 1px solid var(--color-secondary-light);
  border-radius: 1rem;
  background-color: var(--color-principal);
  margin-bottom: 1.5rem;
  opacity: 0.8;
}

.skills__percentage {
  height: 0.8rem;
  background-color: var(--color-secondary-light);
  border: 2px solid var(--color-principal);
  border-radius: 1rem;
}

/* HABILIDADES DE FRONT-END */

.skills__percentage--a1 {
  width: 80%;
}
.skills__percentage--a2 {
  width: 60%;
}
.skills__percentage--a3 {
  width: 70%;
}
.skills__percentage--a4 {
  width: 60%;
}
.skills__percentage--a5 {
  width: 50%;
}
.skills__percentage--a6 {
  width: 60%;
}
.skills__percentage--a7 {
  width: 30%;
}

/* HABILIDADES DE BACK-END */

.skills__percentage--b1 {
  width: 50%;
}
.skills__percentage--b2 {
  width: 60%;
}
.skills__percentage--b3 {
  width: 60%;
}
.skills__percentage--b4 {
  width: 50%;
}
.skills__percentage--b5 {
  width: 40%;
}

/* HABILIDADES DE BASES DE DATOS */

.skills__percentage--c1 {
  width: 50%;
}
.skills__percentage--c2 {
  width: 50%;
}
.skills__percentage--c3 {
  width: 60%;
}
.skills__percentage--c4 {
  width: 70%;
}
.skills__percentage--c5 {
  width: 50%;
}

/* IDIOMAS */

.languages__levels {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1px;
}

.language__level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  padding-top: 0.3rem;
  background-color: var(--color-principal);
  border: solid 2px var(--color-secondary-light);
  color: var(--color-secondary-light);
  font-weight: bold;
  font-family: 'Metamorphous', serif;
  line-height: 0;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.language__level--active {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-secondary-light);
  border: 4px double var(--color-principal);
  color: var(--color-principal);
}

/* CONOCIMIENTOS */

.knowledges__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.knowledges__option {
  padding: 0.4rem 1rem;
  margin: 0.3rem;
  font-size: 1.4rem;
  background-color: var(--color-secondary-light);
  border-radius: 0.3rem;
  color: var(--color-principal);
}

/* CERTIFICADOS */
.certificates__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.certificates__certificate:hover {
  transform: translateY(-3px);
  box-shadow: 8px 8px 20px #444;
}

.certificates__certificate {
  display: flex;
  flex-direction: row;
  flex-basis: calc(50% - 1.5rem);
  border: 2px solid var(--color-icon);
  border-radius: 0.8rem;
  transition: all 200ms ease-in-out;
  box-shadow: 1px 1px 1px #444;
}

.certificate__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  max-width: 15rem;
  height: 100%;
  padding: 2.5rem;
  background-color: var(--color-background-certificates);
  border-radius: 0.8rem 0 0 0.8rem;
}

.certificate__image {
  width: 100%;
}

.certificate__content {
  padding: 2rem;
}

.certificate__title {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.certificate__id {
  display: block;
  font-size: 1.1rem;
  color: var(--color-subtitle);
  margin-bottom: 0.3rem;
}

.certificate__date {
  font-size: 1rem;
  color: var(--color-subtitle);
  opacity: 0.9;
}

.blog__image-container {
  position: relative;
  width: 40rem;
  height: auto;
}

.blog__image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  mix-blend-mode: color;
}

/* PORTAFOLIO */

.portfolio__cards-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.portfolio__card {
  width: 45%;
  padding: 0.3rem;
  border: 2px solid var(--color-icon);
  border-radius: 0.8rem;
  transition: all 200ms ease-in-out;
  box-shadow: 1px 1px 1px #444;
}

.portfolio__card:hover {
  transform: translateY(-3px);
  box-shadow: 8px 8px 20px #444;
}

.portfolio__card:hover .card__image {
  filter: blur(1px);
}

.portfolio__card:hover .card__details {
  opacity: 1;
}

.card__image {
  border-radius: 0.75rem;
  transition: all 300ms ease-in-out;
}

.card__content {
  position: relative;
  min-height: 100%;
}

.card__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  padding: 3rem 6rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: var(--color-principal);
  background-color: var(--color-card-background);
  transition: all 300ms ease-in-out;
  border-radius: 0.75rem;
}

.card__description {
  text-align: center;
}

.card__title {
  font-family: 'Lato', Helvetica, sans-serif !important;
  color: var(--color-principal);
  margin-bottom: 1rem;
}

.card__text {
  font-weight: 300;
  font-size: 0.8vw;
}

.card__buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.card__button {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--color-principal);
  border-radius: 1.5rem;
  transition: all 300ms ease-in-out;
  font-size: 1rem;
  font-weight: bold;
}

.card__button:hover {
  background-color: var(--color-principal);
  color: var(--color-background);
}

/* CONTACTO */

.content__connect {
  position: relative;
  height: 100%;
  width: 100%;
}

.connect__frame-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect__frame {
  opacity: 0.2;
  height: 61vh;
  filter: grayscale(100%);
}

/* .connect__frame-container::after {
  content: '';
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background-color: black;
  mix-blend-mode: color;
} */

.connect__card {
  border: 2px solid var(--color-icon);
  box-shadow: 0px 8px 20px -1px #777;
  border-radius: 1rem;
  width: 40%;
  height: 40%;
  animation: 3s flip both;
  overflow: hidden;
}

@keyframes flip {  
  100% {
    transform: rotateY(180deg);
  }
}

.card__backside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-position: center;
}

.card__backside {
  height: 50%;
  animation: 3s flip-backside both;
  opacity: 0;
}

@keyframes flip-backside {
  0% {
    opacity: 0.2;
  }
  29% {
    opacity: 0.2;
  }
  30% {
    opacity: 0;
  }
}

.connect__content {  
  border: 10px double #ddd;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  height: 100%;
  padding: 4rem;
  transform: rotateY(180deg);
  animation: 3s show both;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}

.connect__title {
  font-size: 2rem;
  line-height: 1rem;
  text-wrap: nowrap;
  color: var(--color-secondary-light);
}

.content__connections {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 4px;
}

.content__connection {  
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.connection__info {  
  font-size: 1vw;
  font-weight: bold;
}

.connection__icon {
  border: 2px solid var(--color-text);
  color: var(--color-text);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  font-size: 2rem;
  transition: all 300ms ease-in-out;
}

.connection__icon:hover {
  color: var(--color-principal);
  background-color: var(--color-text);
  border-color: var(--color-text);
  transform: scale3d(1.2, 1.2, 1.2);
}
