@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* VARIABLES */

:root {
  --color-principal: #ffffff;
  --color-secondary: #0d2470;

  /* --color-background: #f2f7f9; */
  --color-background: #181818;
  --color-transparent: transparent;

  --color-icon: #b5b6b7;
  --color-title: #202020;
  --color-subtitle: #808080;
  --color-text: #505050;
}

/* ESTILOS GENERALES */

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

/* IMAGEN DE FONDO */
/* body {
  background-image: url('../img/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60px -120px;
} */

/* ESTRUCTURA PRINCIPAL */

.layout {
  position: relative;
  min-width: 1290px;
  width: 75%;
  height: 80vh;
  min-height: 80vh;
  margin: 10vh auto;

  display: grid;
  grid-template-areas: 'aside content';
  grid-template-columns: 30% 70%;

  /* Sombra detras del layout */
  border-radius: 4rem;
  box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

/* BARRA LATERAL AZUL */
.layout__aside {
  grid-area: aside;
  border-radius: 4rem 0 0 4rem;
  overflow: auto;
  overflow-x: hidden;
}

.aside__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 100%;
  min-width: 30rem;

  background-color: var(--color-secondary);
  color: var(--color-principal);
}

.user-info__container-image {
  position: relative;
  display: inline-block;
  width: 18rem;
  margin-top: 7rem;
  z-index: 1;
}

.user-info__container-image::after {
  content: '';
  position: absolute;
  top: 5%;
  left: 9%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 0.6rem 0.6rem;
  border-radius: 30rem;
  opacity: 0.4;
}

.user-info__image {
  width: 100%;
  background-color: var(--color-principal);
  border: 3px solid var(--color-principal);
  border-radius: 20rem;
}

.user-info__name {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--color-principal);
  margin-top: 2.6rem;
}

.user-info__job {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-principal);
}

.user-info__links {
  margin-bottom: 3.6rem;
}

.links__social {
  margin-top: 2rem;
  text-align: center;

  display: flex;
  flex-direction: row;
}

.social__option {
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  opacity: 0.9;
  border-radius: 3rem;
  transition: all 300ms ease-in-out;
}

.social__option:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-info__buttons {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.user-info__btn {
  padding: 1.3rem 3rem 1.3rem 3rem;
  border: 2px solid var(--color-principal);
  border-radius: 3.2rem;
  color: var(--color-principal);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
  font-weight: bold;
}

.user-info__btn:hover {
  background-color: var(--color-principal);
  color: var(--color-secondary);
  transition: all 300ms ease-in-out;
  font-weight: bolder;
}

.user-info__footer {
  position: absolute;
  bottom: 2rem;
  font-size: 1.2rem;
}

/* CONTENEDOR PRINCIPAL */
.layout__content {
  grid-area: content;
  height: 100%;
  min-height: 100%;
  background-color: var(--color-secondary);
  border-radius: 0 10rem 10rem 0;
  z-index: -2;
}

.content__page {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Metamorphous', serif;
  }
}

.content__page {
  min-height: 100%;
  background-color: var(--color-principal);
  border-radius: 3.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__name-container {
  display: flex;
  align-items: end;
}

.page__name-capital {
  width: 7rem;
}

.page__name {
  font-size: 4.2rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.page__job {
  font-family: 'Lato', Helvetica, sans-serif !important;
  margin-top: 1rem;
  font-size: 2.1rem;
  font-weight: 400;
  color: var(--color-subtitle);
}

/* MENU NAVEGACION LATERAL */
.layout__menu {
  display: block;
  position: absolute;
  top: 0;
  right: -105px;
  min-width: 11rem;
  background-color: var(--color-transparent);
}

.menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-height: 32rem;
  padding: 3rem 0;
  margin-left: 2.5rem;
  background-color: var(--color-principal);
  box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 6rem;
}

.menu__option {
  display: block;
  width: 100%;
  text-align: center;
}

.menu__option:hover .menu__icon {
  color: var(--color-secondary);
}

.menu__icon {
  color: var(--color-icon);
  font-size: 2.8rem;
  transition: all 300ms ease-in-out;
}

.menu__overlay {
  position: absolute;
  right: 0;
  margin-top: -3rem;
  opacity: 0;
  padding: 0.5rem 1rem;
  display: block;
  color: var(--color-principal);
  background-color: var(--color-secondary);
  white-space: nowrap;
  transition: all 300ms ease-in-out;
  border-radius: 1.5rem 0 0 1.5rem;
  z-index: -1;
}

.menu__option:hover .menu__overlay {
  opacity: 0.8;
  right: 100%;
}

/* SOBRE MÍ */
.content__about {
  display: block;
  height: 100%;
  min-height: 100%;
  padding: 6rem;
  padding-right: 3rem;
  overflow: auto;
}
