/* VARIABLES */

:root {
  --color-principal: #ffffff;
  --color-secondary: #04b4e0;

  --color-background: #f2f7f9;
  --color-transparent: transparent;

  --color-icon: #b5b6b7;
  --color-title: #202020;
  --color-subtitle: #808080;
  --color-text: #505050;
}

/* ESTILOS GENERALES */

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: auto;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

/* ESTRUCTURA PRINCIPAL */
